<section class="events-section">
  <h1>Events</h1>

  <%= turbo_frame_tag "new_event" do %>
    <%= render "event_link" %>
  <% end %>

  <% if @events %>
    <%= render partial: "event_table", locals: { events: @events } %>
  <% else %>
    <p>There are no events yet.</p>
  <% end %>

</section>
