<section class="events-section">
  <h1>Events</h1>

  <%= render "event_link" %>

  <%= turbo_stream_from "events" %>
  <div id="events">
    <% @events.each do |event| %>
      <%= render event, event: event %>
    <% end %>
  </div>

</section>
