<section class="events-section">
  <h1>Events</h1>

  <%= render "event_link" %>

  <table class="table" id="events">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Event</th>
        <th scope="col">Location</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <%= render @events %>
    </tbody>
  </table class="table">

</section>
